.logoContainer {
    padding: 50px 30px;
}
.contentSection .sideBar .searchBar {
    border-top: 1px solid rgba(0,0,0,0.14);
    border-bottom: 1px solid rgba(0,0,0,0.14);
    padding: 8px 15px;
    box-sizing: border-box;
    min-height: 60px;
    font-size: 22px;
    font-weight: 300;
    width: 100%;
    letter-spacing: 1px;
}
.row .sideBar {
    padding-left: 0;
    padding-right: 0;
    border-right: 1px solid rgba(0,0,0,0.14);
    height: 100vh;
}
.sideBar button {
    width: 90%;
    margin: 20px auto;
    display: block;
}

.searchContainer {
    position: relative;
}
.sideBar select {
    position: relative;
    top: 30px;
}
.select-wrapper input.select-dropdown {
    padding: 8px 15px;
    box-sizing: border-box;
    height: 60px;
}
.sideBar i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.card h1 {
    font-size: 16px;
    font-weight: 100;
    margin: 0px 0;
}
.card span {
    font-size: 9px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
}
.card .card-content {
    padding: 8px 12px;
}
.card .card-action {
    padding: 4px 12px;
    height: 92px;
    box-sizing: border-box;
}
.card .card-image .card-title {
    padding: 4px 12px;
}
.preloader-wrapper {
    position: absolute;
    left: 50%;
    top: 30%;
}
.chartContainer {
    width: 100%;
}
.card-header {
    background-color: #42A5F5;
    color: #fff;
    text-align: center;
    padding: 8px 12px;
}
.card-footer {
    color: #fff;
    font-weight: 900;
    text-align: center;
    padding: 8px 12px;
}
.card-footer span {
    font-size: 24px;
}
.card-footer.large {
    background-color: green;
}
.card-footer.med {
    background-color: orange;
}
.card-footer.small {
    background-color: yellow;
}
.card-header span {
    color: #fff;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #000;
    text-transform: capitalize;
}